<div class="row">
	<div class="col-lg-9">
		 <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-area-chart"></i> 软件测试 缺课人数统计</div>
        <div class="card-body">
          <canvas id="myAreaChart" width="100%" height="30"></canvas>
        </div>
        <div class="card-footer small text-muted">Updated at 2018.5.12 11:59 PM</div>
      </div>
	</div>
<div class="card mb-3">
            <div class="card-header">
              <i class="fa fa-pie-chart"></i> 软件测试 总缺课统计</div>
            <div class="card-body">
              <canvas id="myPieChart" width="100%" height="100"></canvas>
            </div>
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
          </div>
</div>

<div class="row">
	<div class="col-lg-9">
		 <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-area-chart"></i> 机器学习 缺课人数统计</div>
        <div class="card-body">
          <canvas id="myAreaChart_2" width="100%" height="30"></canvas>
        </div>
        <div class="card-footer small text-muted">Updated at 2018.5.12 11:59 PM</div>
      </div>
	</div>
<div class="card mb-3">
            <div class="card-header">
              <i class="fa fa-pie-chart"></i> 机器学习 总缺课统计</div>
            <div class="card-body">
              <canvas id="myPieChart_2" width="100%" height="100"></canvas>
            </div>
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
          </div>
</div>


<div class="row">
	<div class="col-lg-9">
		 <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-area-chart"></i> 工科数学分析 缺课人数统计</div>
        <div class="card-body">
          <canvas id="myAreaChart_3" width="100%" height="30"></canvas>
        </div>
        <div class="card-footer small text-muted">Updated at 2018.5.12 11:59 PM</div>
      </div>
	</div>
<div class="card mb-3">
            <div class="card-header">
              <i class="fa fa-pie-chart"></i> 工科数学分析 总缺课统计</div>
            <div class="card-body">
              <canvas id="myPieChart_3" width="100%" height="100"></canvas>
            </div>
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
          </div>
</div>
<!--柱状图-->
<div class="card mb-3">
            <div class="card-header">
              <i class="fa fa-bar-chart"></i>缺课最多分析</div>
            <div class="card-body">
              <div class="row">
                <div class="col-sm-8 my-auto">
                  <canvas id="myBarChart" width="100" height="50"></canvas>
                </div>
                <div class="col-sm-4 text-center my-auto">
                  <div class="h4 mb-0 text-primary">6</div>
                  <div class="small text-muted">缺课次数</div>
                  <hr>
                  <div class="h4 mb-0 text-warning">4</div>
                  <div class="small text-muted">缺课次数</div>
                  <hr>
                  <div class="h4 mb-0 text-success">3</div>
                  <div class="small text-muted">缺课次数</div>
                </div>
              </div>
            </div>
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
          </div>
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Page level plugin JavaScript-->
    <script src="/static/vendor/chart.js/Chart.min.js"></script>
    <script src="/static/vendor/datatables/jquery.dataTables.js"></script>
    <script src="/static/vendor/datatables/dataTables.bootstrap4.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="/static/js/sb-admin.min.js"></script>
    <!-- Custom scripts for this page-->
    <script src="/static/js/sb-admin-datatables.min.js"></script>
    <script src="/static/js/sb-admin-charts.min.js"></script>
    <!--退出清除用户信息-->
    <script src="/static/js/submit.js"></script>