
<button id="process_show" class="btn btn-primary btn-block" disabled="disabled" style="margin-bottom: 10px; margin-top: 10px; background-color: #ff00a5; display:{{process_show}}">正在识别人脸...</button>
<a href="index" class="btn btn-primary btn-block" style="margin-bottom: 10px; margin-top: 10px; background-color: #8d0eec;display:{{entry_show}}">识别结果：{{face_name}}, 点击进入</a>
<button class="btn btn-primary btn-block" disabled="disabled" style="margin-bottom: 10px; margin-top: 10px; background-color: #ff0000;display:{{no_face_show}}">未识别到人脸，请重试</button>
<button class="btn btn-primary btn-block" disabled="disabled" style="margin-bottom: 10px; margin-top: 10px; background-color: #ff00a5; display:{{strange_face_show}}">识别到未认证的人脸</button>
<img id="change" src={{image_base64}} style="display: {{face_show}}">