<div class="row">
	<div class="col-lg-9">
		 <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-area-chart"></i>学生 {{student}} 申诉情况</div>
        <div class="card-body">
          <img src="https://unsplash.it/700/450?image=610">
        </div>
        <div class="card-footer small text-muted">Updated at 2018.5.12 11:59 PM</div>
      </div>
	</div>
<div class="card mb-3">
            <div class="card-header">
              <i class="fa fa-pie-chart"></i>情况说明</div>
            <div class="card-body">
              <p>有事，向老师请假</p>
	            <div id="option" style="display: block">
	            <a class="btn btn-primary btn-block" style="background-color: #0cd06c;margin-bottom:0" onclick="confirm(1)">接受</a>
                 <a class="btn btn-primary btn-block" style="background-color: #0cd06c;margin-bottom:0"  onclick="confirm(0)">拒绝</a>
	            </div>
	            </div>
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
          </div>
</div>