<style>
.max{width:800px;height:auto;}
.min{width:200px;height:auto;}
</style>

<div class="row">
	<div class="col-lg-9">
		 <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-area-chart"></i>课程班级拍摄情况</div>
        <div class="card-body">
         <img id="img_1" class="min" src={{img_1}}>
        </div>
        <div class="card-footer small text-muted">Updated at 2018.5.12 11:59 PM</div>
      </div>
	</div>
<div class="card mb-3">
            <div class="card-header">
              <i class="fa fa-pie-chart"></i>缺席的同学是：</div>
            <div class="card-body">
               <p>
					<ul>
	            {% for id in un_ids_1 %}
					<li>{{id}}<br/></li>
	            {% endfor %}
                    </ul>
              </p>
	            <!--<a class="btn btn-primary btn-block" style="background-color: #0cd06c;margin-bottom:0">确认并提交缺课情况</a>-->
            </div>
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
          </div>
</div>

<div class="row">
	<div class="col-lg-9">
		 <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-area-chart"></i>课程班级拍摄情况</div>
        <div class="card-body">
          <img id="img_2" class="min" src={{img_2}}>
        </div>
        <div class="card-footer small text-muted">Updated at 2018.5.12 11:59 PM</div>
      </div>
	</div>
<div class="card mb-3">
            <div class="card-header">
              <i class="fa fa-pie-chart"></i>缺席的同学是：</div>
            <div class="card-body">
              <p>
					<ul>
	            {% for id in un_ids_2 %}
					<li>{{id}}<br/></li>
	            {% endfor %}
                    </ul>
              </p>
	            <!--<a class="btn btn-primary btn-block" style="background-color: #0cd06c;margin-bottom:0">确认并提交缺课情况</a>-->
            </div>
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
          </div>
</div>

<div class="row">
	<div class="col-lg-9">
		 <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-area-chart"></i>课程班级拍摄情况</div>
        <div class="card-body">
          <img id="img_3"  class="min" src={{img_3}}>
        </div>
        <div class="card-footer small text-muted">Updated at 2018.5.12 11:59 PM</div>
      </div>
	</div>
<div class="card mb-3">
            <div class="card-header">
              <i class="fa fa-pie-chart"></i>缺席的同学是：：</div>
            <div class="card-body">
               <p>
					<ul>
	            {% for id in un_ids_2 %}
					<li>{{id}}<br/></li>
	            {% endfor %}
                    </ul>
              </p>
            </div>
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
          </div>
</div>

<div class="row">
	<div class="col-lg-9">
		 <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-area-chart"></i>课程班级拍摄情况</div>
        <div class="card-body">
          <img id="img_4"  class="min" src={{img_4}}>
        </div>
        <div class="card-footer small text-muted">Updated at 2018.5.12 11:59 PM</div>
      </div>
	</div>
<div class="card mb-3">
            <div class="card-header">
              <i class="fa fa-pie-chart"></i>缺席的同学是：</div>
            <div class="card-body">
              <p>
					<ul>
	            {% for id in un_ids_3 %}
					<li>{{id}}<br/></li>
	            {% endfor %}
                    </ul>
              </p>
	            <!--<a class="btn btn-primary btn-block" style="background-color: #0cd06c;margin-bottom:0">确认并提交缺课情况</a>-->
            </div>
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
          </div>
</div>

<div class="row">
	<div class="col-lg-9">
		 <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-area-chart"></i>课程班级拍摄情况</div>
        <div class="card-body">
          <img id="img_5"   class="min" src={{img_5}}>
        </div>
        <div class="card-footer small text-muted">Updated at 2018.5.12 11:59 PM</div>
      </div>
	</div>
<div class="card mb-3">
            <div class="card-header">
              <i class="fa fa-pie-chart"></i>缺席的同学是：</div>
            <div class="card-body">
               <p>
					<ul>
	            {% for id in un_ids_4 %}
					<li>{{id}}<br/></li>
	            {% endfor %}
                    </ul>
              </p>
	            <!--<a class="btn btn-primary btn-block" style="background-color: #0cd06c;margin-bottom:0">确认并提交缺课情况</a>-->
            </div>
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
          </div>
</div>

<script>
	$(function(){
$('#img_1').click(function(){

$(this).toggleClass('min');
$(this).toggleClass('max');
});
});
</script><script>
	$(function(){
$('#img_2').click(function(){

$(this).toggleClass('min');
$(this).toggleClass('max');
});
});
</script><script>
	$(function(){
$('#img_3').click(function(){

$(this).toggleClass('min');
$(this).toggleClass('max');
});
});
</script><script>
	$(function(){
$('#img_4').click(function(){

$(this).toggleClass('min');
$(this).toggleClass('max');
});
});
</script><script>
	$(function(){
$('#img_5').click(function(){

$(this).toggleClass('min');
$(this).toggleClass('max');
});
});
</script>