<style>
.max{width:800px;height:auto;}
.min{width:200px;height:auto;}
</style>

<div class="row">
	<div class="col-lg-9">
		 <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-area-chart"></i>课程班级拍摄情况</div>
        <div class="card-body">
         <img id="img_1" class="min" src={{img_1}}>
        </div>
        <div class="card-footer small text-muted">Updated at 2018.5.12 11:59 PM</div>
      </div>
	</div>
<div class="card mb-3">
            <div class="card-header">
              <i class="fa fa-pie-chart"></i>缺席的同学是：</div>
            <div class="card-body" id="state_1" style="display: block">
              <p>
					<ul>
	            {% for id in un_ids_1 %}
					<li><input type="checkbox"  checked="yes"/>{{id}}<br/></li>
	            {% endfor %}
                    </ul>
              </p>
	            <a class="btn btn-primary btn-block" style="background-color: #0cd06c;margin-bottom:0" onclick="confirm_info(1)">确认并提交缺课情况</a>
            </div>
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
          </div>
</div>

<div class="row">
	<div class="col-lg-9">
		 <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-area-chart"></i>课程班级拍摄情况</div>
        <div class="card-body">
          <img id="img_2" class="min" src={{img_2}}>
        </div>
        <div class="card-footer small text-muted">Updated at 2018.5.12 11:59 PM</div>
      </div>
	</div>
<div class="card mb-3">
            <div class="card-header">
              <i class="fa fa-pie-chart"></i>缺席的同学是：</div>
           <div class="card-body" id="state_2" style="display: block">
              <p>
					<ul>
	            {% for id in un_ids_2 %}
					<li><input type="checkbox"  checked="yes"/>{{id}}<br/></li>
	            {% endfor %}
                    </ul>
              </p>
	            <a class="btn btn-primary btn-block" style="background-color: #0cd06c;margin-bottom:0" onclick="confirm_info(2)">确认并提交缺课情况</a>
            </div>
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
          </div>
</div>

<div class="row">
	<div class="col-lg-9">
		 <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-area-chart"></i>课程班级拍摄情况</div>
        <div class="card-body">
          <img id="img_3"  class="min" src={{img_3}}>
        </div>
        <div class="card-footer small text-muted">Updated at 2018.5.12 11:59 PM</div>
      </div>
	</div>
<div class="card mb-3">
            <div class="card-header">
              <i class="fa fa-pie-chart"></i>缺席的同学是：</div>
           <div class="card-body" id="state_3" style="display: block">
              <p>
					<ul>
	            {% for id in un_ids_3 %}
					<li><input type="checkbox"  checked="yes"/>{{id}}<br/></li>
	            {% endfor %}
                    </ul>
              </p>
	            <a class="btn btn-primary btn-block" style="background-color: #0cd06c;margin-bottom:0"onclick="confirm_info(3)">确认并提交缺课情况</a>
            </div>
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
          </div>
</div>

<div class="row">
	<div class="col-lg-9">
		 <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-area-chart"></i>课程班级拍摄情况</div>
        <div class="card-body">
          <img id="img_4"  class="min" src={{img_4}}>
        </div>
        <div class="card-footer small text-muted">Updated at 2018.5.12 11:59 PM</div>
      </div>
	</div>
<div class="card mb-3">
            <div class="card-header">
              <i class="fa fa-pie-chart"></i>缺席的同学是：</div>
           <div class="card-body" id="state_4" style="display: block">
              <p>
					<ul>
	            {% for id in un_ids_4 %}
					<li><input type="checkbox"  checked="yes"/>{{id}}<br/></li>
	            {% endfor %}
                    </ul>
              </p>
	            <a class="btn btn-primary btn-block" style="background-color: #0cd06c;margin-bottom:0"onclick="confirm_info(4)">确认并提交缺课情况</a>
            </div>
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
          </div>
</div>

<div class="row">
	<div class="col-lg-9">
		 <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-area-chart"></i>课程班级拍摄情况</div>
        <div class="card-body">
          <img id="img_5"   class="min" src={{img_5}}>
        </div>
        <div class="card-footer small text-muted">Updated at 2018.5.12 11:59 PM</div>
      </div>
	</div>
<div class="card mb-3">
            <div class="card-header">
              <i class="fa fa-pie-chart"></i>缺席的同学是：</div>
            <div class="card-body" id="state_5" style="display: block">
              <p>
	              <ul>
	            {% for id in un_ids_5 %}
					<li><input type="checkbox"  checked="yes"/>{{id}}<br/></li>
	            {% endfor %}
                    </ul>
              </p>
	            <a class="btn btn-primary btn-block" style="background-color: #0cd06c;margin-bottom:0"onclick="confirm_info(5)">确认并提交缺课情况</a>
            </div>
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
          </div>
</div>

<script>
	$(function(){
$('#img_1').click(function(){

$(this).toggleClass('min');
$(this).toggleClass('max');
});
});
</script><script>
	$(function(){
$('#img_2').click(function(){

$(this).toggleClass('min');
$(this).toggleClass('max');
});
});
</script><script>
	$(function(){
$('#img_3').click(function(){

$(this).toggleClass('min');
$(this).toggleClass('max');
});
});
</script><script>
	$(function(){
$('#img_4').click(function(){

$(this).toggleClass('min');
$(this).toggleClass('max');
});
});
</script><script>
	$(function(){
$('#img_5').click(function(){

$(this).toggleClass('min');
$(this).toggleClass('max');
});
});
</script>